.cartParent{
    
    display:flex;
    flex-direction: row;
    margin: 0px 20px;;
    justify-content: space-between;
}
.cartLeft{
    
    flex: 7;
}
.cartRight{
    
   flex: 3;
   padding:16px;
   width: 30%;
   box-sizing: border-box;
   margin-right: 10px;
}
.cartSearch{
  border-bottom: 1px solid grey;
}
.tableTop{
    font-size: 14px;
    width: 100%;
    text-align: left;
}
.tableLeft{
    font-weight: 400;
    text-align: left;
    padding: 0 0 8px;
    margin: 0;
}
.checkoutBtn{
    position: relaive;
    padding: 0.938rem 1.5rem;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    color: #1d252c;
    width: 90%;
    height: auto;
    font-weight:600;
    font-size: .875rem;
    background-color: #ffce00;
    border: none;
    margin: 0px 17px;

}
.paypalCheck{
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #fff;
    font-style: italic;
    font-weight: 200;
    margin: auto;
    width:90%;
    padding: 6px;
    background-color: #009cde;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    box-shadow: none;
    height: 48px;
    min-width: 150px;
}

.cartCard{
    display:flex;
    justify-content:space-between;
}
.cartCardTitle{
    flex: 3;
    text-align: justify;
    margin-top: 30px;
}
.cartCardImg{
    flex: 2;
}
.cartCardPrice{
    flex: 1;
    margin-left: 45px;
    margin-top: 30px;
}
.cartCardCircle{
    padding: 18px 0px;
    color:grey;
    display: flex;
    margin-top: 10px;
    /* justify-content: space-between; */
}
.cartCardBin{
    display:inline-block;
    padding:0px 1px;
    margin-bottom: -7px;
    /* line-height: 10px;; */
}
.binFlex{
    display:flex;
    flex:nowrap;
}
*{
    font-family:sans-serif;
}